
@{
    ViewData["Title"] = "Administration";
}

<h1>Administration</h1>
<br />
<a asp-controller="Administration" asp-action="AddRole"><i class=" btn btn-dark " style="color: aqua; border-bottom-color:aqua">Add New Role</i></a>
