@model IEnumerable<AuthorViewModel>
@{
    ViewData["Title"] = "AuthorList";
}

<h4 style="color:aqua">Author List</h4>
<hr />


<table class="table table-hover">
    <thead class="thead-dark">
        <tr >
            <th style="color:aqua" >
                Name
            </th>
            <th style="color:aqua" >
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color:aqua">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id"><i class="btn btn-outline-info">Edit</i></a>
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="btn btn-outline-danger">Delete</i></a>
                </td>
            </tr>
        }
    </tbody>


</table>
</br>
<a asp-controller="Book" asp-action="Add"><i class=" btn btn-dark " style="color: aqua; border-bottom-color:aqua">Add New Author</i></a>

