<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book Store</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @RenderSection("Scripts", required: false)
</head>
<body style="background-color:black">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 " >
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:aqua">CRUD3</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"style="color:aqua">
                    <ul class="navbar-nav flex-grow-1" >
                        <li class="nav-item" >
                            <a class="nav-link text"style="color:grey" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link text" style="color:grey" asp-area="" asp-controller="Book" asp-action="BookList">Book List</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link text" style="color:grey" asp-area="" asp-controller="Author" asp-action="AuthorList">Author List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-xl-4">
            @RenderBody()<br>
        </main>
    </div>

    <footer class="footer text-muted" style="background-color:black">
        <div class="container">
            &copy; 2020 - CRUD3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
</body>
</html>
