@model IEnumerable<BookViewModel>

@{
    ViewData["Title"] = "BookList";
}

<h4 style="color:aqua">Book List</h4>
<hr />
<br>

<body style="background-color:black">

    <div class="d-flex justify-content-center">
        
        <partial>@{await Html.RenderPartialAsync("_PartialViewOfListBook");}</partial>
    
    </div>
   
</body>

<script type="text/javascript">
    $(".BotonAlquilar").on("click", function () {
        var idLibro = $(this);
       alert(idLibro);
        $.ajax({
            type: "POST",
            url: "/Home/Alquilar",
            datatype: "json",
            data: {
                id: idLibro
            },
            success: function  (result) {

                $("#TablaLibros").html(result);

                @*$("#Stock").html(@Html.DisplayFor(modelItem => result.stock);
               $("#Stock").html("<td>" result "</td>");*@
            }
        });
    })


</script>

