
@{
    ViewData["Title"] = "Index";
}

<h4>Welcome to the Book Store!</h4>
<hr />

<div class="container">
    <div class="col-xs-12 col-md-6 col-sm-8 col-lg-6 center-block">
        <br />
        <p>What do you want to do? </p>
        <br />
        <p>
            See our Books: <span class="pull-right">
                <button asp-controller="Book" asp-action="BookList">Book List</button>
            </span>
        </p>
        <p>
            See our Books: <span class="pull-right">
                <button class="btn btn-default btn-small" asp-controller="Book" asp-action="BookList">Book List</button>
            </span>
        </p>
        <p>
            See our Books: <span class="pull-right">
                <button class="btn btn-default btn-small" asp-controller="Book" asp-action="BookList">Book List</button>
            </span>
        </p>
        <br />
    </div>
</div>


