
@{
    ViewData["Title"] = "Index";
    
}

<form style="background-color:black">
    <div class="form-group">
        <h4 style=" color:aqua">Welcome to the Book Store!</h4>
        <hr />

        <div class="container">
            <div class="col-xs-12 col-md-6 col-sm-8 col-lg-6 center-block">
                <br />
                <p style=" color:lightgreen">What do you want to do today? </p>
                <br />
                <p>
                    <span class="pull-right">
                        <button type="button" class="btn btn-success btn-lg" asp-controller="Book" asp-action="BookList">Search Books</button>
                    </span>
                </p>
                <p>
                    <span class="pull-right">
                        <button type="button" class="btn btn-success btn-lg" asp-controller="Book" asp-action="BookList">Add New Book</button>
                    </span>
                </p>
                <p>
                    <span class="pull-right">
                        <button type="button" class="btn btn-success btn-lg" asp-controller="Book" asp-action="BookList">Add New Author</button>
                    </span>
                </p>
            </div>
        </div>
    </div>
</form>




